#aboutMe {
	margin: 0px;
	padding: 0px;
	color: white;
}

#aboutMe .containerAboutMe {
    width: 80%;
    margin: 0 auto;
    padding: 100px 0px 100px 0px;
}

#aboutMe .containerAboutMe div {
    width: 80%;
    margin: 0px auto;
    padding: 0px;
    text-align: center;
}

#aboutMe .containerAboutMe div h1 {
    margin: 0px auto;
    padding: 20px 20px 0px 20px;
    font-family: Calibri;
	text-transform: uppercase;
	font-size: 40px;
}

#aboutMe .containerAboutMe div p {
    margin: 0px auto;
    padding: 20px 20px 0px 20px;
    font-family: Calibri;
    font-size: 20px;
}

#aboutMe .containerAboutMe .frontEndImage {
    width: 40%;
    margin: 0px auto;
    padding-top: 50px;
}

#aboutMe .containerAboutMe .frontEndImage img {
    width: 100%;
	margin: 0px 0px 0px 0px auto;
	background: rgba(167, 167, 167, 0.6);
}
