#technologies {
	width: 100%;
	margin: 0px;
	padding: 0px;
	color: white;
	text-shadow: 1px 1px 10px black;
}

#technologies h1 {
	margin: 0px auto;
	padding: 100px 20px 20px 20px;
	text-align: center;
	width: 80%;
	text-transform: uppercase;
	font-size: 40px;
	font-family: Calibri;
}

#technologies ul {
	width: 80%;
	margin: 0px auto;
	flex-direction: column;
	padding: 0px 0px 100px 0px;
}

#technologies ul li {
	padding: 20px 0px 20px 0px;
    margin: 0px 0px 10px 0px;
    list-style-type: none;
    color: white;
    display: flex;
    background: rgba(167, 167, 167, 0.6);
    border-radius: 2px;
    font-size: 20px;
	font-family: Calibri;
}


.technologyLogo {
	padding: 10px;
}

.technologyDescribtion {
	padding: 10px;
}

